tr th{
	font-weight:bold;
    }
tr th, tr td{
	padding:5px;
}
th{
    border: 5px solid #C1DAD7;
}
td{
	border: 5px solid #C1DAD7;
}
img {
    max-width: 200px;
}
h1 {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#search {
    margin: auto;
}
#pageContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
button {

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    /* usual styles */
    display: inline;
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
  
  }
  button:hover {

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    background-color:#2f3b7e;
  
  }

  input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: solid 1px;
  }